[Unit]
Description=x-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/x-ui-0.51/
ExecStart=/usr/local/x-ui-0.51/x-ui.sh

[Install]
WantedBy=multi-user.target