[Unit]
Description=x-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/x-ui-0.5/
ExecStart=/usr/local/x-ui-0.5/x-ui

[Install]
WantedBy=multi-user.target